body{
    background-color: white;
    margin: 0;
    padding: 0;
    
}

.nav{
    display: flex;
    justify-content: space-around;
    background: RoyalBlue;

  
}

.nav-list{
    display: flex;
    align-items:center;
    list-style: none;
    
    
   
    
    
}

.service{
    margin-right: 35px;
    
        
}

.clientes{
    margin-right: 35px;
}

.parceiros{
    margin-right: 35px;
}

.contatos{
    margin-right: 35px;
}

.logo{
  
    margin-left: -260px;
    margin-top: 5px;
    margin-bottom: 1,5px;
      
    
}

a{
    color: gainsboro;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    
    
}

.card{
    width: 300px;
    height: 500px;
    background-color: gainsboro;
    border-radius: 15px;
    margin-top:100px;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0,0.22) 0px 15px 12px;
}

.container{
    display: flex;
    justify-content: center;

}


.cliente01{
    width: 180px;
    height: 165px;
    border-radius: 50%;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

h2{
    margin-left: 52px;
    font-family:'Poppins', sem serifa;
}

h3{
    margin-left: 50px;
    font-family:'Poppins', sem serifa;
}


    
