@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    
    box-sizing:border-box;
   
   
}


body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    
    
    
     
}

.nav{
    display: flex;
    justify-content: space-around;
    background-image: url("../img/img_back.jpg") ;
    background-size: cover;
    margin-bottom: -65px;
    left:0;
    width: 100%;
   
    
}

.nav-list{
    display: flex;
    list-style: none;
}

.logo{
    margin-left: -260px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.background{
   width: 100%;
   height: 100vh; 
   background-image: url("../img/img_back.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin-top: -60px;

}

section .content .image{
  height: 170px;
  width: 185px;
  padding: 3px;
 
}



section .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid gainsboro;
    border-radius: 10px;
    
    
    
  }


  .content{
   position: relative;
    background-color: #fff;
    border-radius: 20px;
    margin: 20px 0 0;
    
    
    
    
    
   
  }

  .content::before{
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background-image: url("../img/img_back.jpg");
    background-size: c;
    border-radius: 20px 20px 0 0;
    
    
    
    
  }

.content .cardcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
    width: 300px;
    height: 320px;
    
    
    
    
    
    
}



.descricao{
text-align: center;
font-size: 20;
    
}



  .container{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 620px;
    margin: 0 auto;
    grid-gap: 40px ;
    
     
  }


a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 15px;
  
    
}
.card .user{
   width: 160px;
   height: 140px; 
   border-radius: 50%;

}
.star{
    width: 23px;
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 36, 36);
    font-size: 30px;
   
}


.coments{
    margin-top: 50px;
    margin-bottom: 50px;
}

.h1parc{
    margin-top: 50px;
    margin-bottom: 50px;
}

.h1contact{
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 980px;
    margin: 0 auto;
    grid-gap: 40px ;
}

.card{
    background-image: url("../img/img_back.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.705);
    border-radius: 15px;
    
    
}



h3{
    font-size: 27px;
}

p{
   text-align: center; 
   font-size: 17px;
}

.coments{
    background-image: url("../img/img_back.jpg");
    background-size: cover;
    width: 44%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 450px;
    margin-left: 548px;
   
  
}
footer{
    background-image: url("../img/img_back.jpg");
    background-size: cover;
    align-items: center;
    padding: 30px;
  
    
}
.servicos{
    background-image: url("../img/img_back.jpg");
    background-size: cover;
    margin-top: 130px;
    margin-bottom: -20px;
    width: 18%;
    margin-left: 790px;
}

.service{
    margin-top: 15px;
}

.clientes{
    margin-top: 15px; 
}

.parceiros{
    margin-top: 15px;
}

.contatos{
    margin-top: 15px;
    
}
button{
    background-image: url("../img/img_back.jpg");
    color: white;
    border-radius:7px;
    padding: 7px;
    border: none;
    cursor: pointer;
    font-size: 18px;
   
 
}



@keyframes anima{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}

h2{
    font-size: 28px;
    margin-bottom: 13px;
}
.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-image: url("../img/img_back.jpg");
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
form label{
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus{
    border-radius: 16px;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
    color: #101026;
   
}
form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101026;
    flex-direction: column;
 }
 .text{
     font-size: 45px;
     color: rgb(163, 207, 207);
     margin-bottom: 30px;
 }
 .paragrafo{
     color: rgb(163, 207, 207);
     margin-bottom: 50px;
 }
 .btn{
     padding: 15px 55px;
     background: #f5f5f5;
     text-decoration: none;
     color: #101026;
     background-image: url("../img/img_back.jpg");
     font-size: 18px;
     transition: all 0.5s;
     
 }
 .btn:hover{
     border-radius: 16px;
     
 }

 .teste{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
 }