body{
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    
}

.nav{
    display: flex;
    justify-content: space-around;
    background: RoyalBlue;

  
}

.nav-list{
    display: flex;
    align-items:center;
    list-style: none;
    
    
   
    
    
}

.service{
    margin-right: 35px;
    
        
}

.clientes{
    margin-right: 35px;
}

.parceiros{
    margin-right: 35px;
}

.contatos{
    margin-right: 35px;
}

.logo{
  
    margin-left: -260px;
    margin-top: 5px;
    margin-bottom: 1,5px;
      
    
}

a{
    color: gainsboro;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    
    
}

